.happy{
    background-color: #152019 !important;
    margin-top: -16%;
}

.work{
    font-family: "Signika Negative", sans-serif !important;
}

.work2{
    font-family: "Signika Negative", sans-serif !important;
   margin-top: 5%;
}