.abt{
    background-size: cover; /* Adjust size */
    background-position: center; /* Center the image */
    height:607px; /* Set height */
    background-color: #152019; /* Text color for contrast */
}

@media only screen and (max-width: 500px){
    .abt{
        background-color: #152019; 
        height: max-content;
    }
}