.matter{
    font-family: "Signika Negative", sans-serif !important;
    color: #fff !important;
}

.matter2{
    font-family: "Signika Negative", sans-serif !important;
    color: #fff !important;
    background-color: #CDBD72 !important;
}

.matter3{
    margin-top: 6%;
}

.matter4{
    font-family: "Signika Negative", sans-serif !important;
    color: #CDBD72 !important;
}