.pity{
    background-color: #152019 !important; 
}

.damnt{
    color: #CDBD72 !important;
    font-family: "Signika Negative", sans-serif !important;
}
.tapp{
    font-family: "Signika Negative", sans-serif !important;
}

#dope{
    font-family: "Signika Negative", sans-serif !important;
}