.hold{
    background-color: #152019 !important;
    color: #fff !important;
    margin-top: -3%;
}
.glad{
    margin-top: 6%;
    color: #CDBD72 !important;
    font-family: "Signika Negative", sans-serif !important;
}

.gald2{
    font-family: "Signika Negative", sans-serif !important;
    color: #fff !important;
}
.hold3{
    font-family: "Signika Negative", sans-serif !important;
}

.hold4{
    background-color: #CDBD72;
        font-family: "Signika Negative", sans-serif !important;
}
.glad3{
    font-family: "Signika Negative", sans-serif !important;
    color: #fff !important;
}
.dam {
    background-color: #152019 !important;   
}

.cap{
    color: #fff !important;
    font-family: "Signika Negative", sans-serif !important;
    font-size: 25px !important;
}

.dam2 {
    background-color: #152019 !important;   
}

.cap2{
    color: #fff !important;
    margin-top: 3%;
    font-family: "Signika Negative", sans-serif !important;
    font-size: 25px !important;
}

.dam3 {
    background-color: #152019 !important;   
}

.cap3{
    color: #fff !important;
    font-family: "Signika Negative", sans-serif !important;
    font-size: 25px !important;
}


.dam4 {
    background-color: #152019 !important;   
}

.cap4{
    color: #fff !important;
    margin-top: 15%;
    font-family: "Signika Negative", sans-serif !important;
    font-size: 25px !important;
}


.dam5 {
    background-color: #152019 !important;   
}

.cap5{
    color: #fff !important;
    margin-top: 3%;
    font-family: "Signika Negative", sans-serif !important;
    font-size: 25px !important;
}
